<div class="container">
    <main class="pages">
        <header class="header">
            <div class="home-header">
                <div class="logo">
                    <img src="assets/img/Vector.png" alt="logo">
                    <div class="logo-faces"></div>
                </div>
                <div class="navigation">
                    <ul class="menu">
                        <li>О проекте</li>
                        <li>Преимущества</li>
                        <li>Для кого</li>
                        <li>Контакты</li>
                    </ul>
                </div>
                <div class="auth">
                    <button class="btn btn-enter">Войти</button>
                    <button class="btn btn-auth">Регистрация</button>
                </div>
            </div>
        </header>
        <section class="page black home">
            <div class="content home-div">
                <div class="text-home-div">
                    <h1 class="text-1">FACES</h1>
                    <h1 class="text-1">ВАШ ПУТЬ К АКТЁРСКОМУ</h1>
                    <h1 class="text-2">УСПЕХУ</h1>
                    <p>Объединяем актеров, агентов и кастинг-директоров в одном месте</p>
                    <button class="btn-connect">Присоединиться</button>
                </div>
                <div class="picture">
                    <img src="assets/img/Frame1.png" alt="faces">
                </div>
            </div>
        </section>
        <section class="page white about">
            <div class="content about-div">
                <div class="foto-1">
                    <span class="description">
                        <h1>О ПРОЕКТЕ</h1>
                        <p>FACES-это инновационная платформа, где встречаются таланты и возможности.Подробное описание
                            проекта, создание интереса к уникальным возможностям для актеров, агентов и
                            кастинг-директоров.
                        </p>
                    </span>
                    <img src="assets/img/foto-2-1.png" alt="foto-woman-black-and-white">
                </div>
                <div class="foto-2">
                    <img src="assets/img/logo-group.png" alt="logo-group" id="logo">
                    <img src="assets/img/foto-2-2.png" alt="foto-man-black-and-white">
                </div>
            </div>
        </section>
        <section class="page black for-who">
            <div class="content for-who-div">
                <h1>ДЛЯ КОГО?</h1>
                <div class="container-cart">
                    <div class="cart">
                        <div class="cart-description">
                            <h2>АКТЁР</h2>
                            <p>Создайте свой профиль и выделись среди талантливых актеров.</p>
                        </div>
                        <img src="assets/img/foto-3-1.png" alt="">
                        <div class="show-more">
                            <h3>ПОДРОБНЕЕ</h3>
                            <button class="round-button">
                                <img src="assets/img/arrow-right.png">
                            </button>
                        </div>
                    </div>
                    <div class="cart">
                        <div class="cart-description">
                            <h2>АГЕНТ</h2>
                            <p>Расширяйте клиентскую базу и находите идеальные проекты.</p>
                        </div>
                        <img src="assets/img/foto-3-1.png" alt="">
                        <div class="show-more">
                            <h3>ПОДРОБНЕЕ</h3>
                            <button class="round-button">
                                <img src="assets/img/arrow-right.png">
                            </button>
                        </div>
                    </div>
                    <div class="cart">
                        <div class="cart-description">
                            <h2>КАСТИНГ-ДИРЕКТОР</h2>
                            <p>Выбирайте из многочисленных талантов с легкостью.</p>
                        </div>
                        <img src="assets/img/foto-3-1.png" alt="">
                        <div class="show-more">
                            <h3>ПОДРОБНЕЕ</h3>
                            <button class="round-button">
                                <img src="assets/img/arrow-right.png">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page white actor">
            <div class="content actor-div"></div>
        </section>
        <section class="page black agent">
            <div class="content agent-div"></div>
        </section>
        <section class="page white director">
            <div class="content director-div"></div>
        </section>
        <section class="page black reviews">
            <div class="content reviews-div"></div>
        </section>
        <section class="page white will-join">
            <div class="content will-join-div"></div>
        </section>
        <section class="page black contacts">
            <div class="content contacts-div"></div>
        </section>
    </main>
</div>